body {
  background-color: yellow;
  color: Black;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: black;
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.settingsButton {
  width: auto;
  background-color:grey;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.settingsButton svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}
